@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
/*
body {
    display:flex;
    background:url(imgFondo.jpg);
}*/

.header{
    display: flex;
    justify-content: flex-end;
}

.btn.open{
    background-color: #4C00C7;
    color: white;
    margin: 3px;
}

.btn.download{
    background-color: #0219E5;
    color: white;
    margin: 3px;
}

.btn.faq{
    background-color: #F700A2;
    color: white;
    margin: 3px;
}

.btn{
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: none;
    padding: 1em;
    opacity: 0.8;
}

.btn:hover{
    opacity: 6.0;
}

.h1{
    font-family: 'Patua One', cursive;
    color:#C2C0BB; 
    text-transform: uppercase; 
    text-align: center;  
}

img {
    margin: 3px;
}

.logos{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap; 
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
